<section>
    <div class="container mt-5">
        <h1>Add Product</h1>
        {{#if toastMessage}}
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="10000">
            <div class="toast-header">
                <strong class="mr-auto text-primary">EasyCart</strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body text-danger">
                {{toastMessage}}
            </div>
        </div>
        {{/if}}
        <form action="/admin/add-product" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="">Name</label>
                <input type="text" name="name" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Category</label>
                <input type="text" name="category" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Description</label>
                <input type="text" name="description" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Price</label>
                <input type="text" name="price" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Image</label>
                <br>
                <label class="btn btn-light border border-secondary" for="my-file-selector">
                    <input id="my-file-selector" type="file" name="image" style="display:none"
                        onchange="$('#upload-file-info').show().html(this.files[0].name)">
                    Choose Image
                </label>
                <span class='bg-light text-dark rounded-pill ml-2 p-2 pl-4 pr-4' id="upload-file-info"></span>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</section>