<section>
    <div class="container my-5">
        <table class="table table-responsive-sm mt-3" id="data-table">
            <thead class="bg-primary text-light">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Mobile</th>
                </tr>
            </thead>
            <tbody>
                {{#each users}}
                <tr>
                    <td>{{this.name}}</td>
                    <td>{{this.email}}</td>
                    <td>{{this.mobile}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</section>