<footer class="footer bg-dark text-white p-5 bottom" id="footer">
    <div class="container pl-3">
        <p>© 2020. All Rights Reserved | Developed by
            <a href="https://vishnu-c-prasad.github.io/Personal-Website/"
                class="text-primary text-decoration-none josefin-sans">Vishnu C Prasad</a>
        </p>
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Creative Commons Licence"
                style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/80x15.png" /></a><br />This
        work is licensed under a <a rel="license" class="text-white text-decoration-none"
            href="http://creativecommons.org/licenses/by-nc-nd/4.0/">Creative Commons
            Attribution-NonCommercial-NoDerivatives 4.0 International License</a>.
    </div>
</footer>