<header class="pb-5">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-primary mb-5">
        <div class="container">
            <a class="navbar-brand font-weight-bold" href="/">EasyCart</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Products <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <form class="form-inline bg-white rounded-pill my-2 px-2 my-lg-0" id="search-form">
                    <input class="form-control form-control-sm mr-sm-2" type="search" autocomplete="off" placeholder="Search"
                        aria-label="Search" id="search-box" name="searchQuery"
                        onkeyup="searchProducts(event,this.value);" data-toggle="dropdown">
                    <div class="dropdown-menu" id="dropdown-menu" aria-labelledby="dropdownMenuButton" style="margin-left: 32%; width: 31%;" hidden>
                        
                    </div>
                </form>
                <div class="ml-auto">
                    <div class="dropdown">
                        <a class="btn text-white dropdown-toggle" role="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{#if user}}
                            {{user.name}}
                            {{else}}
                            Account
                            {{/if}}
                        </a>
                        <div class="dropdown-menu p-0 mt-2" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item border-bottom p-2" href="/my-profile/">
                                <div class="row m-0">
                                    <span class="mx-2">
                                        <svg width="1.2em" height="1.2em" viewBox="0 0 16 16"
                                            class="bi bi-person-circle text-primary" fill="currentColor"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z" />
                                            <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                            <path fill-rule="evenodd"
                                                d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z" />
                                        </svg>
                                    </span>
                                    <div class="mx-2 mt-1">
                                        My Profile
                                    </div>
                                </div>
                            </a>
                            <a class="dropdown-item border-bottom p-2" href="/my-orders">
                                <div class="row m-0">
                                    <span class="mx-2">
                                        <svg width="1.2em" height="1.2em" viewBox="0 0 16 16"
                                            class="bi bi-bag-check-fill text-primary" fill="currentColor"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd"
                                                d="M5.5 3.5a2.5 2.5 0 0 1 5 0V4h-5v-.5zm6 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zm-.646 5.354a.5.5 0 0 0-.708-.708L7.5 10.793 6.354 9.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z" />
                                        </svg>
                                    </span>
                                    <div class="mx-2 mt-1">
                                        My Orders
                                    </div>
                                </div>
                            </a>
                            <a class="dropdown-item border-bottom p-2" href="/wishlist">
                                <div class="row m-0">
                                    <span class="mx-2">
                                        <svg width="1.2em" height="1.2em" viewBox="0 0 16 16"
                                            class="bi bi-heart-fill text-primary" fill="currentColor"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd"
                                                d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                                        </svg>
                                    </span>
                                    <div class="mx-2 mt-1">
                                        Wishlist
                                    </div>
                                </div>
                            </a>
                            <a class="dropdown-item border-bottom p-2" href="#">
                                <div class="row m-0">
                                    <span class="mx-2">
                                        <svg width="1.2em" height="1.2em" viewBox="0 0 16 16"
                                            class="bi bi-rss-fill text-primary" fill="currentColor"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd"
                                                d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm1.5 2.5a1 1 0 0 0 0 2 8 8 0 0 1 8 8 1 1 0 1 0 2 0c0-5.523-4.477-10-10-10zm0 4a1 1 0 0 0 0 2 4 4 0 0 1 4 4 1 1 0 1 0 2 0 6 6 0 0 0-6-6zm.5 7a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z" />
                                        </svg>
                                    </span>
                                    <div class="mx-2 mt-1">
                                        Feedback
                                    </div>
                                </div>
                            </a>
                            {{#if user}}
                            <a class="dropdown-item border-bottom p-2" href="/logout"
                                onclick="return confirm('Are you want to logout ?')">
                                <div class="row m-0">
                                    <span class="mx-2">
                                        <svg width="1.2em" height="1.2em" viewBox="0 0 16 16"
                                            class="bi bi-box-arrow-right text-primary" fill="currentColor"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd"
                                                d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z" />
                                            <path fill-rule="evenodd"
                                                d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
                                        </svg>
                                    </span>
                                    <div class="mx-2 mt-1">
                                        Logout
                                    </div>
                                </div>
                            </a>
                            {{else}}
                            <a class="dropdown-item border-bottom p-2" href="/login">
                                <div class="row m-0">
                                    <span class="mx-2">
                                        <svg width="1.2em" height="1.2em" viewBox="0 0 16 16"
                                            class="bi bi-box-arrow-in-left text-primary" fill="currentColor"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd"
                                                d="M10 3.5a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 1 1 0v2A1.5 1.5 0 0 1 9.5 14h-8A1.5 1.5 0 0 1 0 12.5v-9A1.5 1.5 0 0 1 1.5 2h8A1.5 1.5 0 0 1 11 3.5v2a.5.5 0 0 1-1 0v-2z" />
                                            <path fill-rule="evenodd"
                                                d="M4.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H14.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z" />
                                        </svg>
                                    </span>
                                    <div class="mx-2 mt-1">
                                        Login
                                    </div>
                                </div>
                            </a>
                            {{/if}}
                        </div>
                    </div>
                </div>
                <div>
                    <a class="nav-link font-weight-bold text-white" href="/cart">
                        <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-cart3" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                        </svg> Cart <span class="badge badge-danger rounded-circle" id="cart-count">{{cartCount}}</span>
                    </a>
                </div>
            </div>
        </div>
    </nav>
</header>