*::-webkit-scrollbar {
  width: 0px;
}

.col-md-3 {
  display: flex;
}

.card {
  width: 100% !important;
}

.product-card-body {
  height: 125px !important;
  overflow-x: hidden;
  overflow-y: auto;
}

.card-body::-webkit-scrollbar-track {
  background-color: #f8f9fa;
}

.card-body::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

.card-body::-webkit-scrollbar-thumb {
  background-color: #007bff;
}

.card-img-top {
  width: 100% !important;
  height: auto !important;
}

.d-block {
  width: 100% !important;
  height: 40vh !important;
}

.table-img {
  height: 5em !important;
  width: 5em !important;
  object-fit: cover !important;
}

.upload-file-info,
#upload-file-info {
  display: none;
}

#addresses-form {
  height: 75vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.card-animated {
  transition: transform 450ms;
}

.card-animated:hover {
  transform: scale(1.05);
}

.card-animated-sm {
  transition: transform 450ms;
}

.card-animated-sm:hover {
  transform: scale(1.02);
}

.card-animated-lg {
  transition: transform 250ms;
}

.card-animated-lg:hover {
  transform: scale(1.2);
}
